/Actividad1_TAD_Nodo.docx
/Actividad1_TAD_Nodo.pdf
/Analisis_FODA.docx
/Analisis_FODA.pdf
/Cambios_previos_a_la_Formulación_del_ProyectO.docx
/Cambios_previos_a_la_Formulación_del_Proyecto.pdf
/carta motivos.docx
/Class notes (Recuperado automáticamente).docx
/Custom Office Templates
/desktop.ini
/Document.docx
/etapasProcesoAdministrativo.docx
/etapasProcesoAdministrativo.pdf
/Hi.docx
/horario 2025-1.docx
/Importancia_Citar_APA_Septima_Edicion.docx
/Luis Enrique's Notebook.url
/Plantillas personalizadas de Office
/PREVIO_PRACTICA1.docx
/PREVIO_PRACTICA1.pdf
/PREVIO_PRACTICA2.docx
/PREVIO_PRACTICA2.pdf
/reportePractica1.docx
/reportePractica1.pdf
/serieEjerciciosSistemasNumeracion.docx
/serieEjerciciosSistemasNumeracion.pdf
/tareaUnoNodo.py